{% load static %}

<html>

    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/correo.css' %}" />
        <title>Envío de Correos</title>
    </head>

    <body>
    <header class="fondo">
        <div class="page-header">
            <a href="{% url 'enviarcorreo' %}" class="top-menu">Enviar Correo <span class="glyphicon glyphicon-envelope"></span></a>
            <a href="{% url 'correo_list' %}" class="top-menu">Correos Enviados <span class="glyphicon glyphicon-envelope"></span></a>
            <h1><a href="/">Envio de Correos</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    
    </header>
    </body>
</html>