{% extends 'base.html' %}

{% block content %}

    <form method="POST">
        <h2>Llena los siguiente datos:</h2>
        {% csrf_token %} {{ form.as_p }}
      <!----  <label for="asunto">Asunto</label>
        <input type="text" name="asunto"><br><br>
        <label for="correo">Correo </label>
        <input type="text" name="correo"><br><br>
        <label for="mensaje">Mensaje</label>  
        <textarea name="mensaje" id="" cols="30" rows="10"></textarea><br> -->
        <label>El mensaje será enviado al público predeterminado.</label> 
        <br><br>

        <input type="submit" class="btn btn-default" value="Enviar" />

    </form>
    
{% endblock %}