{% extends 'base.html' %}

{% block content %}

        <h1>Correos enviados</h1>
        {% for Correo in enviados %}
        <div>
            
            <p>Asunto:  {{ Correo.asunto }} : Fecha de envio: {{ Correo.fecha_envio }}</p>
            
            
         </div>
         {% endfor %}
{% endblock %}