{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %} {{ form.as_p }}
        <label>Ir a enviar correos</label><br>
        <input type="submit" class="btn btn-default" value="Enviar" />
       
    </form>
{% endblock %}