@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');


.page-header {
    background-color: #9c7944;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    
}

.content {
    margin-left: 40px;
    font-family: 'Dosis', sans-serif;
    font-size: 15pt;
    color:#ffffff;
    
}

h1,
h2,
h3,
h4 {
    font-family: 'Dosis', sans-serif;
}

.date {
    float: right;
    color: #828282;
}

.pull-right {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #f5fffd;
    float: right;
    font-size: 16pt;
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Dosis', sans-serif;
}

.post {
    margin-bottom: 70px;
}

textarea{
    resize: none; 
    min-height: 60px;
    max-height: 300px;
    color: black;
}

input{
    color: black;
}

.fondo {
background: url('https://source.unsplash.com/B6yDtYs2IgY');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh;
resize: flex;
}


